In [1]:
import pandas as pd
import os

In [2]:
df = pd.read_stata('../../data/CDP Cleaning/cleaned outputs/cdp_summary_firm.dta')

In [4]:
df.loc[df['companyname'] == 'Jetblue Airways Corporation']

,ticker,isin,id,reporting_boundary,year,companyname,country,industry14,industry46,cdpdate,...,ref_activity,ref_activitycode,blmg_sector,blmg_sectorname,blmg_industrygroup,blmg_industrygroupname,blmg_industry,blmg_industryname,blmg_subindustry,blmg_subindustryname
10763,JBLU US,US4771431016,9759,financial control,2022.0,Jetblue Airways Corporation,USA,Transportation services,,2022-08-01,...,Airlines (NEC),5240601010,20,Industrials,2030,Transportation,203020,Passenger Airlines,20302010,Passenger Airlines

In [49]:
directory_path = '../../data/CDP Cleaning/cleaned outputs'
rows = {}
# Read all files and clean them
for file in os.listdir(directory_path):
    # if file ends in .dta read it and store name and number of rows
    if file.endswith(".dta"):
        df = pd.read_stata(os.path.join(directory_path, file))
        rows[file] = df.shape[0]

In [53]:
# sort by number of rows
sorted_rows = sorted(rows.items(), key=lambda x: x[1], reverse=True)
sorted_rows

[('cdp_ghg_scope1_location.dta', 159312),
 ('cdp_initiative.dta', 113003),
 ('cdp_ghg_restatement.dta', 85198),
 ('cdp_target.dta', 45014),
 ('cdp_ghg_verification_scope1_2_details.dta', 37365),
 ('cdp_summary.dta', 34588),
 ('cdp_incentives.dta', 34557),
 ('cdp_ghg_all_scopes.dta', 34534),
 ('cdp_ghg.dta', 34062),
 ('cdp_ghg3.dta', 33280),
 ('cdp_ghg_change.dta', 33071),
 ('cdp_currency.dta', 33066),
 ('cdp_ghg_verification_firm_year.dta', 28408),
 ('cdp_initiative_firm_year.dta', 25087),
 ('cdp_initiative_method.dta', 24164),
 ('cdp_ghg_int.dta', 23617),
 ('cdp_lowcarbon.dta', 22930),
 ('cdp_post2018opp.dta', 20346),
 ('cdp_post2018risk.dta', 20345),
 ('cdp_post2018riskrel.dta', 20339),
 ('cdp_carbon_credits_full.dta', 15348),
 ('cdp_methane.dta', 13503),
 ('cdp_pre2018riskopp.dta', 12726),
 ('cdp_summary_firm.dta', 11259),
 ('cdp_carbon_credits_voluntary_purchase.dta', 3646)]

In [51]:
# read this cdp_ghg_scope1_location.dta
df = pd.read_stata(os.path.join(directory_path, 'cdp_ghg_scope1_location.dta'))
df.head()

   id                   country  emissions    year
0  53                    Sweden      740.0  2010.0
1  53                  Portugal       42.0  2010.0
2  53  United States of America      784.0  2010.0
3  53               Puerto Rico       47.0  2010.0
4  53                   Morocco       15.0  2010.0

In [54]:
# read cdp_carbon_credits_voluntary_purchase
df = pd.read_stata(os.path.join(directory_path, 'cdp_carbon_credits_voluntary_purchase.dta'))
df.head()

,id,year,cdp_num_credits,cdp_num_credits_riskadj,cdp_carbon_credit_purchase_n,cdp_cc_cancelled,cdp_cc_cancelled_adj,cdp_cc_cancelled_n,cdp_cc_not_cancelled,cdp_cc_not_cancelled_adj,cdp_cc_not_cancelled_n,cdp_cc_vcs,cdp_cc_vcs_adj,cdp_cc_vcs_n,cdp_cc_gs,cdp_cc_gs_adj,cdp_cc_gs_n,cdp_cc_big4,cdp_cc_big4_adj,cdp_cc_big4_n
0,53,2015.0,41.00,41.00,1.0,41.0,41.0,1.0,0.0,0.0,0.0,41.0,41.0,1.0,0.0,0.0,0.0,41.0,41.0,1.0
1,53,2016.0,40.00,40.00,1.0,40.0,40.0,1.0,0.0,0.0,0.0,40.0,40.0,1.0,0.0,0.0,0.0,40.0,40.0,1.0
2,79,2021.0,20140.00,0.00,3.0,20140.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,20140.0,0.0,3.0,20140.0,0.0,3.0
3,79,2022.0,20438.00,20438.00,5.0,20438.0,20438.0,5.0,0.0,0.0,0.0,20438.0,20438.0,5.0,0.0,0.0,0.0,20438.0,20438.0,5.0
4,97,2017.0,3.56,3.56,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0