`This file is already taken care of in cdp_ghg_all_scopes! Same goes for CDP_GHG3`

In [6]:
import pandas as pd
import numpy as np
import seaborn as sns

In [7]:
cdp_ghg = pd.read_stata("../../data/CDP Cleaning/cleaned outputs/cdp_ghg.dta")

In [9]:
cdp_ghg3 = pd.read_stata("../../data/CDP Cleaning/cleaned outputs/cdp_ghg3.dta")

In [18]:
cdp_ghg.loc[cdp_ghg['id'] == 44].iloc[0,:]

id                44.0
ghg1             745.0
year            2011.0
ghg2location    2537.0
ghg2market         NaN
Name: 0, dtype: float64

In [11]:
cdp_ghg3

,id,year,ghg3_total,ghg3_business_travel,ghg3_capital_goods,ghg3_downstream_leased_assets,ghg3_downstream_trans,ghg3_employee_commuting,ghg3_end_of_life,ghg3_franchises,...,ghg3_investments,ghg3_other,ghg3_purchased_g_and_s,ghg3_upstream_leased_assets,ghg3_upstream_trans,ghg3_use_of_sold_products,ghg3_waste,ghg3_processing_of_sold_products,ghg3_other_downstream,ghg3_other_upstream
0,10067,2010.0,659.0,508.0,NaN,NaN,NaN,151.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10071,2010.0,8105.0,8105.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10132,2010.0,138940.0,NaN,NaN,NaN,138940.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10148,2010.0,687044.0,NaN,NaN,NaN,687044.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10156,2010.0,124313.0,12321.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,69024.0,NaN,NaN,NaN,NaN,42968.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33275,895873,2022.0,9061.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,9061.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33276,895909,2022.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33277,896044,2022.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33278,896120,2022.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33279,896123,2022.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
cdp_ghg3.loc[cdp_ghg3['id'] == 44].iloc[1,:]

id                                    44.000000
year                                2012.000000
ghg3_total                          2546.199951
ghg3_business_travel                2520.000000
ghg3_capital_goods                          NaN
ghg3_downstream_leased_assets               NaN
ghg3_downstream_trans                  8.200000
ghg3_employee_commuting                     NaN
ghg3_end_of_life                            NaN
ghg3_franchises                             NaN
ghg3_fuel_and_energy_related                NaN
ghg3_investments                            NaN
ghg3_other                                  NaN
ghg3_purchased_g_and_s                      NaN
ghg3_upstream_leased_assets                 NaN
ghg3_upstream_trans                         NaN
ghg3_use_of_sold_products                   NaN
ghg3_waste                            18.000000
ghg3_processing_of_sold_products            NaN
ghg3_other_downstream                       NaN
ghg3_other_upstream                         NaN
Name: 3216, dtype: float64